html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-roboto;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 0.1rem;
}

:root {
  --bg-color: #ffffff;
  --deeper-bg-color: #f5f5f5;
  --text-color: #35393f;
  --sub-text-color: #7c8187;
  --header-text-color: #35393f;
  --mark-text-color: #fccfc8;
  --sel-text-color: #ff8572;
}


svg {
  fill: $col-lightCyanBlue;
  &:hover {
    fill: $col-mediumDarkCyanBlue
  }
}

.hlta-container {
  position: relative;
  text-size-adjust: none;

  .hlta-backdrop {
    position: absolute;
    overflow: hidden;
    border-color: transparent;
  }

  .hlta-highlight {
    color: transparent !important;
    word-wrap: break-word !important;

    > * {
      display: none;
    }

    > mark {
      background-color: var(--mark-text-color);
      display: inline-block;

      &.sel {
        background-color: var(--sel-text-color);
      }
    }
  }

  > .hlta-textarea {
    position: relative;
    background: none transparent !important;
  }
}

